nav.navbar.navbar-expand-lg {
    background-color: #333 !important;
}

a.navbar-brand {
    color: #fff;
}

a.navbar-brand:hover {
    color: #ffa500;
}

a.nav-link {
    color: #bbb !important;
}

a.nav-link:hover {
    color: #ffa500 !important;
}

li.nav-item {
    display: block;
    background-color: #000000;
    margin-right: 10px;
    margin-bottom: 2px;
    padding: 3px;
    border-radius: 2px;
}