<div class="card mt-3">
    <div class="card-header text-center">
        <h4>{{pageTitle}}</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <h5>Filter By :</h5>
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" placeholder="Filter String" [(ngModel)]="listFilter">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-2">
                <h4>Filtered By :</h4>
            </div>
            <div class="col-md-5">
                {{listFilter}}
            </div>
        </div>
        <table class="table-responsive" *ngIf="products && products.length">
            <thead>
                <tr>
                    <th>
                        <button class="btn btn-primary" (click)="toggleImage()">
                            {{showImage ? "Hide" : "Show" }} Image
                        </button>
                    </th>
                    <th>Product</th>
                    <th>Code</th>
                    <th>Available</th>
                    <th>Price</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of filteredProducts">
                    <td>
                        <img [src]="product.imageUrl" [title]="product.productName" *ngIf="showImage">
                    </td>
                    <td>
                        <a [routerLink]="['/products', product.productId ]">{{product.productName}}</a>
                    </td>
                    <td>{{product.productCode | lowercase | convertToSpacesPipe:"-"}}</td>
                    <td>{{product.releaseDate | date}}</td>
                    <td>{{product.price | currency}}</td>
                    <td>
                        <product-star [rating]="product.starRating" (notify)="ratingClicked($event)"></product-star>
                    </td>

                </tr>
            </tbody>
        </table>
        <div *ngIf='errorMessage' class='alert alert-danger'>
            Error: {{ errorMessage }}
        </div>
    </div>
</div>